# M07 Notes

# NumPy

- **Structured arrays** can store mixed data types.
- Use `df.to_numpy()` to convert Pandas dataframes to NumPy data structures.

Here is an example.

We create a list of tuples of mixed data, one tuple per row of data.

In [76]:
import numpy as np

In [78]:
data = [
    ('Alice', 25, 55.0), 
    ('Bob', 32, 60.5),
    ('Sri', 39, 70.)
]

We also create a list of tuples for each column, specifying name and data type.

In [79]:
dtypes = [('name', 'U10'), ('age', 'i4'), ('weight', 'f4')]

We pass these to the NumPy's array constructor.

In [80]:
people = np.array(data, dtype=dtypes)

This returns a structured array.

In [81]:
people

array([('Alice', 25, 55. ), ('Bob', 32, 60.5), ('Sri', 39, 70. )],
      dtype=[('name', '<U10'), ('age', '<i4'), ('weight', '<f4')])

Data may be accessed using column names.

In [82]:
people['name']

array(['Alice', 'Bob', 'Sri'], dtype='<U10')

We see that its data type is just an `ndarray`.

In [83]:
type(people)

numpy.ndarray

We an also access the data type list as an attribute of the array.

In [84]:
people.dtype

dtype([('name', '<U10'), ('age', '<i4'), ('weight', '<f4')])

In Pandas, we can convert data back to a NumPy data structure with `df.to_numpy()`.

This is preferrable to `df.values()`.

In [85]:
import pandas as pd

Here we convert the NumPy array to a Pandas dataframe.

In [86]:
df = pd.DataFrame(data)

In [87]:
df

       0   1     2
0  Alice  25  55.0
1    Bob  32  60.5
2    Sri  39  70.0

Then we convert back to a NumPy array ...

In [88]:
npa = df.to_numpy()

In [89]:
npa

array([['Alice', 25, 55.0],
       ['Bob', 32, 60.5],
       ['Sri', 39, 70.0]], dtype=object)

In [90]:
type(npa)

numpy.ndarray

Interestingly, the datatype is different.

It's now a Python object.

In [91]:
npa.dtype

dtype('O')

# Strings Again

Actually, you *can* go backwards in a list and string.

There are actually three elements to a slice: `[<from>:<to>:<step>]`

The third part specifies step and direction. 

So you can go backwards and take bigger steps:

In [92]:
foo = "ABCDEFGHIJKLM" # first 12 letters

In [93]:
foo[::-1], foo[::-2], foo[::-3], foo[::2]

('MLKJIHGFEDCBA', 'MKIGECA', 'MJGDA', 'ACEGIKM')

By default the third part is `+1`.

In [94]:
foo[::]

'ABCDEFGHIJKLM'

Of cousre, by default you don't need to specify the second `:`. 

Also, `<from>` defaults to $0$ and `<to>` defaults to the length of the list.

So, these are all the same:

In [95]:
foo[:], foo[0:], foo[:len(foo)], foo[0:len(foo)]

('ABCDEFGHIJKLM', 'ABCDEFGHIJKLM', 'ABCDEFGHIJKLM', 'ABCDEFGHIJKLM')

# Lutz

Why use classes?

> Because using classes well requires some up-front planning, they tend to be of more interest to people who work in strategic mode (doing long-term product development) than to people who work in tactical mode (where time is in very short supply).

Introduces principle of composition: Use objects as components that are combined to create a solution.

Lutz foregrounds inheritance, but I consider the ideas of encapsulation and composition (above) as primary.