# M06 Participation

In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
iris = sns.load_dataset('iris')

Ex 6.1

In [16]:
data = {
    'features': [[1.2, 3.4, 5.6, 7.8, 9.0], [2.3, 4.5, 6.7, 8.9, 10.1], [3.4, 5.6, 7.8, 9.0, 11.2]],
    'labels': [0, 1, 2]
}
df = pd.DataFrame(data)

#print(df)
df

                     features  labels
0   [1.2, 3.4, 5.6, 7.8, 9.0]       0
1  [2.3, 4.5, 6.7, 8.9, 10.1]       1
2  [3.4, 5.6, 7.8, 9.0, 11.2]       2

## Ex 6.2

In [17]:
data = {
    'features': [[1.2, 3.4, 5.6, 7.8, 9.0], [2.3, 4.5, 6.7, 8.9, 10.1], [3.4, 5.6, 7.8, 9.0, 11.2]],
    'labels': [0, 1, 2]
}

df = pd.DataFrame(data)
df = df.rename(columns={'labels': 'label'})


#print(df)
df

                     features  label
0   [1.2, 3.4, 5.6, 7.8, 9.0]      0
1  [2.3, 4.5, 6.7, 8.9, 10.1]      1
2  [3.4, 5.6, 7.8, 9.0, 11.2]      2

## Ex 6.3

In [18]:
iris = sns.load_dataset('iris')
sorted_iris = iris.sort_values(by='species', ascending=False)

#print(sorted_iris)
sorted_iris

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
111           6.4          2.7           5.3          1.9  virginica
122           7.7          2.8           6.7          2.0  virginica
121           5.6          2.8           4.9          2.0  virginica
120           6.9          3.2           5.7          2.3  virginica
..            ...          ...           ...          ...        ...
31            5.4          3.4           1.5          0.4     setosa
30            4.8          3.1           1.6          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[150 rows x 5 columns]

## Ex 6.4

In [9]:
iris.species.value_count().to_frame('n')

AttributeError: 'Series' object has no attribute 'value_count'

## Ex 6.5

In [12]:
len(iris[(iris.petal_length <= 1.4) | (iris.petal_length >= 1.6)]

SyntaxError: incomplete input (3891446307.py, line 1)

## Ex 6.6

In [15]:
def calculate_min(row):
    return min(row['petal_length'], row['petal_width'])

iris['min_petal'] = iris.apply(calculate_min, axis=1)

print("Head of the DataFrame:")
#print(iris.head())
iris.head()
print("\nTail of the DataFrame:")
#print(iris.tail())
iris.tail()

Head of the DataFrame:

Tail of the DataFrame:

,sepal_length,sepal_width,petal_length,petal_width,species,min_petal
145,6.7,3.0,5.2,2.3,virginica,2.3
146,6.3,2.5,5.0,1.9,virginica,1.9
147,6.5,3.0,5.2,2.0,virginica,2.0
148,6.2,3.4,5.4,2.3,virginica,2.3
149,5.9,3.0,5.1,1.8,virginica,1.8

## Ex 6.7

In [20]:
pivot_table_result = pd.pivot_table(iris, values=['sepal_width', 'petal_width'],
                                    index='species', 
                                    aggfunc={'sepal_width': ['median', 'mean'],
                                             'petal_width': ['median', 'mean']})

pivot_table_result

           petal_width        sepal_width
                  mean median        mean median
species
setosa           0.246    0.2       3.428    3.4
versicolor       1.326    1.3       2.770    2.8
virginica        2.026    2.0       2.974    3.0